<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<ul>
		<h1></h1>
	</ul>
	
	   
	     <p><strong>Existing friends: </strong><%= user.friend_username %></p>
	    
	     <form method="get" action="/Add_friend">  
          
       <br><input type="email" name="username3" placeholder="Username">
       	 <input type="submit" name="submit" value="submit"/>
         </form>
	
	
  </body>
</html>