<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<ul>
		<h1>This is Interests Page</h1>
	</ul>
	
	   <div>
	       
        <form method="post" action="/Add_Interests" >
        <br><input type="text" name="music" placeholder="music"> 
        <br><input type="text" name="shows" placeholder="shows">
        <br><input type="text" name="sports" placeholder="sports">
        <br><input type="submit" name="submit" value ="Submitt"><br>
        </form>
	</div>
	
	
  </body>
</html>