<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Facebook!</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<ul>
		<form method="get" action="/About">
		<li><a href="/Friends"> Friends </a> </li>
		
		
		
		<li><a href="/About"> About </a> </li>
		
		<li><a href="/Groups"> Groups</a> </li>
		<li> <a href="/Interests">Interests </a></li>
	    </form>
	
	</ul>
  </body>
</html>